@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.woff2') format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.woff2') format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('MonserratExtraBold') url('/fonts/Montserrat-ExtraBold.woff2') format("woff2");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

th {
    text-align: inherit;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    line-height: 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-container {
    max-width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.container {
    max-width: 960px;
    padding: 40px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.title {
    text-align: center;
    margin-bottom: 32px;
    h2 {
        margin-bottom: 24px;
        font-weight: bold;
        font-size: 33px;
    }
    h2:after {
        content: '';
        display: block;
        width: 90px;
        height: 3px;
        background: #000000;
        margin: 18px auto 0;
    }
}

//header 64 490
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header-list {
    display: flex;
    white-space: nowrap;
}

.header-item {
    a {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:hover,
         :focus {
            color: #BA0152;
        }
    }
    &:not(:last-of-type) {
        margin-right: 40px;
    }
}

// hero
.hero {
    width: 100%;
    height: auto;
    background-image: url("../img/bc1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-block {
    padding: 88px 200px;
    color: #fff;
}

.hero-block__title {
    font-size: 22px;
    text-align: center;
    border-bottom: 3px solid #ffffff;
    h1 {
        font-weight: normal;
    }
    b {
        line-height: 1.4;
        font-size: 88px;
    }
}

.hero-block__info {
    padding-top: 24px;
    text-align: center;
    p:first-of-type {
        font-size: 31px;
    }
    p:last-of-type {
        font-size: 40px;
        font-weight: bold;
        line-height: 2.5;
    }
}

.hero-block__button {
    display: flex;
    justify-content: space-between;
    button {
        padding: 24px;
        background-color: transparent;
        border: 3px solid #ffffff;
        font-size: 15px;
        font-weight: bold;
        color: #FFFFFF;
        cursor: pointer;
        &:hover,
         :focus {
            background-color: #FFFFFF;
            color: #BA0152;
        }
    }
}

// info
.info {
    text-align: center;
}

.info-paragraph {
    font-size: 18px;
    font-weight: 600;
}

// slider
.slider-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 6px 0;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__items {
    display: flex;
}

.slider__item {
    max-width: 20%;
    height: 250px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 7rem;
}

.slider__item:nth-child(1) {
    width: 100%;
    background-image: url("../img/slider1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item:nth-child(2) {
    width: 100%;
    background-image: url("../img/slider2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item:nth-child(3) {
    width: 100%;
    background-image: url("../img/slider3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item:nth-child(4) {
    width: 100%;
    background-image: url("../img/slider4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item:nth-child(5) {
    width: 100%;
    background-image: url("../img/slider5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item:nth-child(6) {
    width: 100%;
    background-image: url("../img/slider6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item:nth-child(7) {
    width: 100%;
    background-image: url("../img/slider7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//size
.size {
    width: 100%;
    background-image: url("../img/bisize.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    font-size: 14px;
    text-align: center;
    border: 26px solid #fff;
    // box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%);
    background: #fff;
}

.table tr td {
    padding: 7px 0;
}

.table tr td:nth-child(1),
.table tr:nth-child(1),
.table tr:nth-child(2) {
    font-weight: 700;
}

.table tr:nth-child(odd) {
    background: #f3f3f3;
}

.table tr td:nth-child(1) {
    text-align: left;
    padding-left: 20px;
    width: 200px;
}

.table-s {
    display: none;
}

.table-s tr:nth-child(1) {
    line-height: 16px;
}

//  catalog
.catalog-button {
    display: flex;
    justify-content: center;
     :first-of-type {
        padding: 24px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        background-color: #BA0152;
        &:hover,
         :focus {
            background-color: #dbdbdf;
            color: #BA0152;
        }
    }
     :last-of-type {
        padding: 24px;
        border: none;
        cursor: pointer;
        color: black;
        font-size: 15px;
        font-weight: bold;
        background-color: #F3F3F3;
        &:hover,
         :focus {
            background-color: #dbdbdf;
            color: #BA0152;
        }
    }
}

//catalog__list
.sale {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #b4014e;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.catalog-content__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    .catalog-content__item {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 300px;
        vertical-align: top;
        overflow: hidden;
        border: 1px solid #dbdbdf;
        padding-bottom: 20px;
        margin: 0 5px 21px;
        position: relative;
    }
}

.catalog-content-block {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    h3 {
        font-size: 17px;
        font-weight: bold;
    }
}

.catalog-content__size {
    display: flex;
    justify-content: center;
    li {
        padding: 4px;
        border-radius: 8px;
        border: 1px solid transparent;
        font-weight: bold;
        cursor: pointer;
    }
    li:hover,
    li:focus,
    li:active {
        border-color: red;
    }
    li:not(:last-of-type) {
        margin-right: 8px;
    }
}

.peppi-size,
.miller-size {
    li:nth-last-child(-n+2) {
        border: none;
        cursor: auto;
        color: #CECED3;
    }
}

.price {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.price__old {
    margin-right: 16px;
    font-size: 24px;
    color: #8c8c8c;
    text-decoration: line-through;
}

.price__new {
    color: #b4014e;
    font-size: 30px;
    font-weight: 700;
}

.catalog-content__link {
    display: block;
    border-bottom: 4px solid #375cb3;
    background: linear-gradient(to bottom, rgba(142, 84, 233, 1) 0%, rgba(72, 118, 230, 1) 100%);
    font-size: 18px;
    color: #fff;
    padding: 24px 24px;
    cursor: pointer;
    border-radius: 4px;
}

.catalog-content__link:hover {
    background: linear-gradient(to bottom, rgba(72, 118, 230, 1) 0%, rgba(142, 84, 233, 1) 100%);
}

//order
.order {
    background-color: #f7f2f4;
}

.order-title {
    h2 {
        font-size: 48px;
    }
}

.order__list {
    display: flex;
    justify-content: center;
}

.order__item {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-of-type) {
        margin-right: 24px;
    }
}

.order__item-image {
    &:hover,
     :focus {
        opacity: .5;
    }
}

.list {
    width: 143px;
    height: 143px;
    background-image: url("../img/icon-list.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.people {
    width: 143px;
    height: 143px;
    background-image: url("../img/icon-people.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 143px;
    height: 143px;
    background-image: url("../img/icon-box.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 143px;
    height: 143px;
    background-image: url("../img/icon-card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.order__item-info {
    margin-top: 16px;
    text-align: center;
    font-weight: 600;
    p::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: #ceced3;
        border-radius: 100%;
        margin: 0 auto 10px;
        border: 3px solid rgba(206, 206, 211, .3);
        background-clip: padding-box;
    }
}

//POPUP
.popup {
    position: fixed;
    display: none;
    width: 620px;
    height: 376px;
    margin-left: -320px;
    top: 10%;
    left: 50%;
    overflow: hidden;
    background: #fff;
    z-index: 9999;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 25%);
}

.popup a.close {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 8px;
    right: 10px;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 999;
    background: url('/img/close.png');
    opacity: .5;
}

.popup .popup-content>div {
    position: relative;
    height: 376px;
    text-align: center;
}

.popup .popup-left {
    float: left;
    padding: 0;
    width: 300px;
}

.img-cont {
    height: 376px;
    width: 300px;
    margin: 0;
    position: relative;
    overflow: hidden;
    img {
        height: 100%;
    }
}

.popup .popup-right {
    float: right;
    padding: 0;
    width: 320px;
}

.popup-right__title {
    font-size: 18px;
    text-transform: none;
    line-height: 20px;
    margin: 11px 0 17px;
    font-weight: 700;
    color: #111;
}

.form-buy {
    width: 280px;
    margin: 0 auto;
}

.form-buy input.form-buy__field {
    position: relative;
    display: block;
    outline: 0;
    border: 1px solid #ceced3;
    width: 100%;
    height: 46px;
    line-height: 46px;
    margin: 0 auto 10px;
    padding: 0 20px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #111;
    transition: all 0.2s;
}

.form-buy .button-m {
    width: 100%;
}

.button-m {
    position: relative;
    display: block;
    width: 260px;
    height: 56px;
    border: none;
    border-bottom: 4px solid #375cb3;
    line-height: 53px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: rgb(142, 84, 233);
    transition: all 0.2s;
    appearance: none;
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 999;
}

// .select {
.select {
    position: relative;
    width: 280px;
    height: 46px;
    margin: 0 auto;
    margin-bottom: 16px;
    &[data-state="active"] {
        .select__title {
            &::before {
                transform: translate(-3px, -50%) rotate(-45deg);
            }
            &::after {
                transform: translate(3px, -50%) rotate(45deg);
            }
        }
        .select__content {
            opacity: 1;
        }
        .select__label+.select__input+.select__label {
            max-height: 40px;
            border-top-width: 1px;
        }
    }
}

.select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    border: solid 1px #c7ccd1;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        display: block;
        width: 10px;
        height: 2px;
        transition: all 0.3s ease-out;
        background-color: #333333;
        transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
        transform: translate(3px, -50%) rotate(-45deg);
    }
    &:hover {
        border-color: #D8093A;
        &::before,
        &::after {
            background-color: #D8093A;
        }
    }
}

.select__content {
    position: absolute;
    top: 40px;
    left: 3px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}

.select__input {
    display: none;
    &:checked+label {
        background-color: #dedede;
    }
    &:disabled+label {
        opacity: 0.6;
        pointer-events: none;
    }
}

.select__label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    max-height: 0;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
    &+input+& {
        border-top: 0 solid #C7CCD160;
    }
    &:hover {
        background-color: #D8093A !important;
        color: #ffffff;
    }
}

@media (max-width: 983px) {
    .catalog-content__list {
        justify-content: center;
    }
}

@media (max-width: 960px) {
    .header-container {
        max-width: 640px;
        justify-content: center;
    }
    .container {
        max-width: 640px;
    }
    .header-list {
        display: none;
    }
    .hero-block {
        padding: 40px 10px;
    }
    .order__list {
        flex-direction: column;
        align-items: center;
        .order__item {
            width: 64%;
        }
        .order__item:not(:last-of-type) {
            margin-bottom: 24px;
        }
    }
}

@media (max-width: 640px) {
    .header-container {
        max-width: 320px;
    }
    .container {
        max-width: 320px;
    }
    .hero-block__title b {
        line-height: 1.4;
        font-size: 48px;
    }
    .hero-block__info p:last-of-type {
        line-height: 1.5;
    }
    .hero-block__button {
        flex-direction: column;
        button {
            &:first-of-type {
                margin-bottom: 24px;
            }
        }
    }
    .table-xl {
        display: none;
    }
    .table-s {
        display: block;
        font-size: 14px;
        border: 4px solid #fff;
    }
    .table tr td:nth-child(1) {
        text-align: left;
        padding-left: 14px;
        width: 16px;
    }
    .popup {
        width: 320px;
        margin-left: -160px;
    }
    .popup-left {
        display: none;
    }
    .order-title h2 {
        line-height: 1.5;
    }
}